.rules {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: auto;

  & h1 {
    margin-top: 30px;
    align-self: center;
    font-size: 2.5em;
  }

  & h2 {
    margin-top: 20px;
  }

  & span {
    line-height: 1.5;
    width: 85vw;
    margin: auto;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 50%;
    margin: 10px auto 20px;
  }
}


.video-container {
  position: relative;
  /* top: 60px; */
  overflow: hidden;
  display: block;
  width: 100%;

  /* Trying to resize Valorant video */
  /* width: 100%; */
  /* height: calc(100% - 13vh); */
  /* aspect-ratio: 16/9; */

}

.video-container img {
  width: 100vw;
}

.video-container video {
  width: 100%;
}

.video-overlay {
  z-index: 10;
  position: relative;
  top: calc(-100vw * 9 / 16);
  background-color: white;
  height: calc(100vh - 60px);
  width: 33%;
}

/* .video-button-toggle {
  position: relative;
  bottom: calc((100vw * 9 / 16) - (90vw * 9 / 16));
  left: calc(100vw - var(--button-icon-size) - 2vw * 16 / 9);
  z-index: 1000;
} */

.image-title {
  width: 100%;
}

#overview-valorant-title {
  margin-top: 10%;
}
