div.reglement {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: auto;

  & h1 {
    margin-top: 30px;
    align-self: center;
    font-size: 2.5em;
  }

  & h2 {
    margin-top: 20px;
  }

  & span {
    line-height: 1.5;
    width: 85vw;
    margin: auto;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  img {
    max-width: 50%;
    margin: 10px auto 20px;
  }
}
