@import "./_constants.css";

.button {
  padding: 15px 30px;
  background-color: var(--blue);
  color: var(--on-blue);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;

  font-size: 1.8em;
  font-weight: bold;

  transition: all 0.2s ease-in-out;
  text-align: center;

  user-select: none;

  &:hover {
    box-shadow: 0 2px 4px var(--red);
    color: var(--on-red);
    background-color: var(--red);
  }

  &.w150 {
    min-width: 150px;
  }
  &.w200 {
    min-width: 200px;
  }
  &.w250 {
    min-width: 250px;
  }
  &.w350 {
    min-width: 350px;
  }
  &.w400 {
    min-width: 400px;
  }
  &.w450 {
    min-width: 450px;
  }
}

.button-icon {
  color: var(--on-red);
  background-color: var(--red);
  width: var(--button-icon-size);
  height: var(--button-icon-size);

  border-radius: 10px;
}

.button-disabled {
  color: rgb(151, 147, 153) !important;
  background-color: rgb(226, 220, 228) !important;
  border: none !important;
  cursor: default;

  &:hover {
    border: none !important;
    color: rgb(151, 147, 153) !important;
    background-color: rgb(226, 220, 228) !important;

    box-shadow: none;
  }
}
