#intro-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding-top: 5vh;
  padding-bottom: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* justify-content: space-evenly; */

  background: center url("/static/images/banniere_fond.webp");
  background-size: 200%;
  background-position: top -10vw center;
}

#intro-container img {
  width: 80%;
  max-width: 850px;

  height: auto;

  &.icon {
    height: 15vw;
    width: auto;

    min-height: 128px;
    max-height: 256px;
  }

  & #enroll-button {
    width: 100%;
    padding: 10px;
  }
}

#intro-container h2 {
  color: white;
  filter: drop-shadow(0 0 3px #000);
}

@media (max-width: 550px) {
  #logo-large {
    display: none;
  }
  #logo-small {
    max-width: 300px !important;
  }
}

@media (min-width: 551px) {
  #logo-small {
    display: none;
  }
}
