section {
  background-color: var(--purple);
  color: var(--on-pink);
}

.youtube-embed-container {
  /* position: relative; */
  max-width: 600px;
  min-width: min(600px, 80vw);
  width: 50%;
  flex-grow: 1;
  aspect-ratio: 16/9;

  & iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #000000;
  }
}
